body{
    background: black;
    color: white;
}

#box{
    width: 600px;
    min-height: 500px;
    margin: 0 auto;
    /* background: navy; */
}

#content{
    margin: 0 auto;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}